.container {
	text-align: center;
	margin: 3em auto 3em auto;
}

#search-form {
	margin: 1em;
}

#search-results {
	border: 1px solid black;
	padding: 5px;
	width: 50em;
	height: 15em;
	display: inline-block;
}