.container {
	text-align: center;
	margin: 3em auto 3em auto;
}

.name {
	font-family: 'Fjalla One', sans-serif;
	font-size: 4em;
}

.name span {
	color: white;
	margin: 0.25em;
	padding: 0.25em;
	border: 1px solid black
	border-radius: 50%;
	background-color: red;
}

#search-form {
	margin: 1em;
}

#search-word {
	width: 15em;
	padding: 0.5em;
	margin: 0.5em;
	border-radius: 5px;
}

#search-results {
	border: none;
	display: inline-block;
}

#search-results ul {
	display: inline;
	list-style: none;
}

#search-results ul li {
	display: inline;
	margin: 1em;
}

.btn-search {
	background-color: #ffffff;
	border: 1px solid black;
}
.btn-search:hover {
	background-color: #FF0000;
	color: #ffffff;
	border: 1px solid #FF0000;
}