.nav {
	font-family: 'Fjalla One';
	font-size: 1.5em;
/*	border: 1px solid black;*/
	display: inline-block;
	width: 100%;
}

.nav ul {
	list-style: none;
/*	border: 1px solid red;*/
}

.nav ul li {
	display: inline-block;
/*	border: 1px solid blue;*/
	margin: 0.5em;
}

.overlay-about {
	border: 1px solid black;
	margin: 1em 3em;
	display: none;
}

.overlay-about a {
	text-decoration: none;
	font-weight: bold;
	color: black;
}

.overlay-about a:hover {
	color: black;
	text-decoration: underline;
}

.main {
	width: 100%;
	text-align: center;
	margin: 0em auto 3em auto;
/*	border: 1px solid black;*/
}

.name {
	font-family: 'Fjalla One', sans-serif;
	font-size: 4em;
}

.name span {
	color: #ffffff;
	background-color: #E62117;
	border-radius: 15%;
	padding: 0.2em 0.2em 0.2em 0.05em;
	margin: 0 0 0 0.05em;
}

#search-form {
	margin: 1em;
}

#search-word {
	width: 15em;
	padding: 0.5em;
	margin: 0.5em;
	border-radius: 5px;
}

#search-results {
	border: none;
	display: inline-block;
}

#search-results ul {
	display: inline;
	list-style: none;
}

#search-results ul li {
	display: inline-block;
	margin: 1em;
}

.btn-search {
	background-color: #ffffff;
	border: 2px solid black;
}
.btn-search:hover {
	background-color: #E62117;
	color: #ffffff;
	border: 2px solid #E62117;
}